html {
    scroll-behavior: smooth;
  }

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #A28089;
}


@media only screen and (min-width: 320px) {
    
    .name-top {
        display: none;
    }

    .nav-items {
        display: none;
    }

    /* sandwich button */
    .respmenu a { 
        color: inherit;
        text-decoration: none;
        display: block;
        padding: 10px 20px;
        border-bottom: 2px solid #A28089;
        max-width: 200px;
        background: #A28089;
      }

      .respmenu a:hover {
        color: #F9F295;
      }

      .respmenu li {
          list-style-type: none;
      }

      .respmenu h1 {
          text-align: center;
      }

      .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
        position: absolute;  
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 0;
        top: 7px;
        width: 48px;
        height: 48px;  
      }
       
      .respmenu .fa-bars, .respmenu .fa-times {
        font-size: 28px;
        pointer-events: none;
      }
       
      .respmenu input[type="checkbox"] {
        opacity: 0; 
      }
       
      .respmenu {
        color: white;
        position: relative; 
        background: #A28089;
        min-height: 48px;
      }
       
      .respmenu nav {
        display: none;
      }
       
      .respmenu input:checked ~ nav {
        display: block;
      }
       
      .respmenu input:checked ~ .fa-bars {
        display: none;
      }
       
      .respmenu input:not(:checked) ~ .fa-times {
        display: none;
      }
    /*  */

    .name-top {
        text-align: center;
    }

    .nav-items ul {
        padding: 0;
        margin-bottom: 5%;
        display: flex;
        justify-content: space-around;
    }

    .nav-items li {
        list-style-type: none;   
    }

    .hello {
        text-align: center;
        background-color: black;
        color: white;
        padding: 10% 25%;
    }

    .skills {
        padding: 5% 11%;
        background-color: #EDF7F6;
    }

    .skill-list {
        list-style-type: none;
        padding: 0;
    }

    .skill {
        margin-bottom: 2%;
    }

    .hero img {
        width: 100%;
        height: auto;
        background-size: cover;
        background-color: #EDF7F6;
    }

    .gallery {
        padding-top: 10%;
        width: 100%;
        height: auto;
        background-color: #EDF7F6;
    }

    .gallery-title {
        text-align: center;
    }

    .gallery-images img {
        
    }

    .img1 {
        background-image: url("project1.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 70%;
        margin-left: 15%;
        height: 15.2rem;
        margin-bottom: 5%;
    }

    .img2 {
        background-image: url("project2.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 70%;
        margin-left: 15%;
        height: 15.2rem;
        margin-bottom: 5%;
    }

    .img3 {
        background-image: url("project3.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 70%;
        margin-left: 15%;
        height: 15.2rem;
    }

    .contact {
        text-align: center;
        width: 100%;
        background-color: #EDF7F6;
        padding: 5% 0 5% 0;
    }

    .form-group input {
        border: 2px solid black;
        border-radius: 4%;
        width: 70%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .form-group textarea {
        border: 2px solid black;
        border-radius: 4%;
        width: 70%;
        padding: 2%;
        margin-bottom: 10%;
    }

    i {
        margin: 0 6.5%;
    }

    i:hover {
        color: #5e4c14;
    }

    .footer{
        width: 100%;
        text-align: center;
        background-color: #A28089;
        padding: 2%;
    }

    .footer-text {
        color: white;
    }

    .social-media-icons a {
        color: black;
    }
}

@media only screen and (min-width: 768px) {
    
    h2 {
        font-size: 2rem;
    }
    
    .respmenu {
        display: none;
    }

    nav {
        background-color: #A28089;
        padding-top: 0.001rem;
        display: flex;
        flex-direction: row;
        color: white;
        align-items: baseline;
        width: 100%;
        position: fixed;
    }

    .name-top {
        display: inline-flex;
        padding-left: 5%;
    }

    .nav-items {
        display: inline-flex;
        margin-left: auto;
        padding-right: 8%;
        
    }

    nav a {
        text-decoration: none;
        color: white;
        padding: 0 5%;
        font-size: 1.2rem;
    }

    a:hover {
        color: #F9F295;
    }

    .hello {
        padding-top: 18%;
    }

    .hello h1 {
        font-size: 3rem;
    }

    .skills{
        font-style: oblique;
    }

    .skills h2 {
        font-size: 2rem;
    }

    .skill-list {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .img1 {
        background-image: url("project1.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 25rem;
        margin-bottom: 5%;
        width: 70%;
        margin-left: 15%;
    }

    .img2 {
        background-image: url("project2.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 25rem;
        margin-bottom: 5%;
        width: 70%;
        margin-left: 15%;
    }

    .img3 {
        background-image: url("project3.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 25rem;
        width: 70%;
        margin-left: 15%;
    }

    .contact {
        padding-top: 10%;
    }
}

@media only screen and (min-width: 1024px) {
    
    .skills {
        display: inline-block;
        width: 50%;
        min-height: 480px;
        max-height: 480px;
    }
    
    .skills h2 {
        font-size: 2.3rem;
        padding-left: 20%;
        padding-right: 0;
    }

    .skill-list {
        font-size: 1.6rem;
        font-weight: 500;
        padding-left: 20%;
        padding-right: 0;
    }

    .hero {
        width: 50%;
        float: right;
        min-height: 480px;
        max-height: 480px;
        background-image: url("me_myself_I.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero img {
        display: none;
    }

    .gallery {
        background-color: #FFA8B6;
        width: 100%;
        height: auto;
        padding-top: 5%;
    }

    .gallery h2 {
        padding-bottom: 5%;
    }

    .gallery-images {
        display: flex;
        margin: 0 0 0 5%;
        padding: 0 0 10% 0;
        width: 90%;
    }

    .img1 {
        background-image: url("project1.png");
        margin: 0 5% 0 0;
        background-size: contain;
        max-height: 250px;
    }

    .img2 {
        background-image: url("project2.png");
        margin: 0;
        background-size: contain;
        max-height: 250px;
    }

    .img3 {
        background-image: url("project3.png");
        margin: 0 0 0 5%;
        background-size: contain;
        max-height: 250px;
    }

    .contact {
        width: 100%;
        padding-top: 5%;
    }

    .contact h2 {
        padding-bottom: 5%;
    }

    .form {
        width: 50%;
        display: inline-block;
    }

    .social-media {
        width: 50%;
        float: right;
        display: flex;
        flex-direction: column;
    }

    .social-media-title {
        display: none;
    }

    .social-media-icons {
        padding-top: 12.5%;
    }
}